label {
  display: block;
  margin-top: 10px;
} 

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.nav-item{
  font-weight: 600;
  font-size: 17px;
  color: white;
}

.card {
  background-color: #f7f7f7;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.hMWYjG{
  display: none !important;
}

.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: 270px; 
  height: 270px; 
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
}

.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
}

.task-container{
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding : 40px 100px;
}

.footer-copyright {
  background: rgb(14, 13, 13);
  padding: 5px 0;
}

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}